{% extends 'global/base.html' %}
{% block title %}{{title}}{% endblock title %}


{% block content %}
<div class="m-6 p-6 max-w-3xl mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
  <div>
    <div class="text-xl text-center font-medium text-black py-2">
      <h2>{{title}}</h2>
    </div>
    <div class="text-md mb-3 text-center font-medium text-black py-2">
      <h2>Dedicated to the Health and Happiness of Your Beloved Pets</h2>
    </div>
    <p class="text-slate-500 space-y-4 "> Welcome to Lovepets, your trusted partner in providing top-notch veterinary care for your cherished animal companions. With a deep passion for animals and a commitment to their well-being, our team of experienced veterinarians and dedicated staff is here to ensure that your pets lead healthy, vibrant lives.</p>
    <h3 class="text-slate-900"> Our Mission </h3>
    <p class="text-slate-500  indent-8"> At Lovepets, our mission is clear: to deliver exceptional medical care, compassion, and support to every pet that walks through our doors. We understand that your pets are not just animals; they are beloved members of your family. That's why we treat each patient with the same care and attention that we would give to our own pets.</p>
    </div>
</div>
{% endblock content %}


