{% extends 'global/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}


{% block content %}

<div class="relative">
  <img src="{% static 'core/home-vet.jpg' %}" alt="image-home" class="w-full h-auto">
  <div class="absolute inset-0 p-6 flex flex-col justify-end bg-gradient-to-bl from-transparent to-white opacity-70 space-x-4">
    <div class="max-w-xs">
      <div class="text-left sm:mb-5 sm:ml-5 xl:mb-15 xl:ml-15">
        <h2 class="py-2 sm:text-md md:text-5xl font-serif text-black font-serif">Welcome</h2>
        <p class="text-slate-500 text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, blanditiis mollitia, culpa vero minus error quidem sapiente minima eos deserunt labore iusto rem. Quos sed non nesciunt aspernatur adipisci. Volutam eveniet.new message!
        </p>
      </div>
    </div>
  </div>
</div>




{% endblock content %}