<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %} {% endblock title %} | Veterinary</title>
    
</head>
<body>
    {% include 'global/partials/header.html' %}
    
    {% include 'global/partials/messages.html' %}


    {% block content %}
    {% endblock content %}

    {% include 'global/partials/whatsapp_button.html' %}

    {% include 'global/partials/footer.html' %}
    <script src="{% static 'global/script.js' %}"></script>


</body>
</html>

