{% extends 'global/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}


{% block content %}
<div class="flex justify-center m-5">
    <div class="max-w-5xl bg-white rounded-xl w-full shadow-md overflow-hidden">
        <a href="{% url 'blog:post' pk=post.pk %}">
            {% if post.cover %}
                <img class="w-full h-56 object-cover" src="{{ post.cover.url }}" alt="Image Veterinary">
            {% else %}
                <img class="w-full h-56 object-cover" src="{% static 'media\blog\default-image-post.jpg' %}" alt="Default Image">
            {% endif %}
        </a>
        <div class="mt-4 m-4 p-4">
            <h1 class="block m-1 text-2xl font-medium text-black">{{ post.title }}</h1>
            {% if post.author.first_name %}
            <h2 class="mt-4 text-indigo-500 font-semibold uppercase">{{ post.author.first_name }}{{ post.author.last_name }}</h2>
            {% else %}
            <h2 class="mt-4 text-indigo-500 font-semibold uppercase">{{ post.author.username }}</h2>
            {% endif %}
            <p class="t-4 mt-4 text-gray-600 leading-relaxed ">{{ post.article|linebreaksbr  }}</p>
            <div class="flex justify-between flex-col sm:flex-row">
                <p class="t-4 mt-4 text-gray-600 leading-relaxed">{{ post.created_ad }}</p>
                {% if post.category %}
                    <a href="{% url 'blog:category_posts' pk=post.category.pk %}">
                        <div class="mt-4 text-gray-800 font-semibold hover:underline ">Category: {{ post.category }}</div>
                    </a>
                {% else %}
                    <div class="mt-4 text-gray-800 font-semibold">No Category</div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'authors:edit_post' post.pk %}" class="p-2 text-lg rounded-xl font-semibold hover:bg-gray-200 items-center text-center flex">Edit post</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}