{% extends 'global/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}


{% block content %}
<div class="m-6 p-6 max-w-2xl mx-auto bg-white rounded-xl shadow-lg space-x-4">
    <div class="p-2">
        <h1 class="text-2xl font-semibold text-center">Dashboard</h1>
    </div>
    <div class="m-5">
          <h2>{{ user.first_name|capfirst }} </h2>
            <h3 class="text-xl font-semibold text-center"> Your recipes</h3>
            <ul>
                {% for post in posts %}
                <li class="p-5 bg-primary-100 hover:bg-neutral-200 rounded-lg">
                  <a href="{% url 'blog:post' post.pk %}" class="block w-full h-full">
                      <h2 class="text-lg font-semibold">{{ post.title }}</h2>
                      <p class="text-smmt-2">{{ post.created_ad }}</p>
                  </a>
                </li>
                {% empty %}
                <li>
                    <p>Your do not have recipes &#128532;</p>
                </li>
                {% endfor %}
            </ul>

        {% if posts.has_other_pages %}
        {% include 'global/partials/pagination.html' %}
        {% endif %}

    </div>

</div>
{% endblock content %}
